<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>中国石油大学运动会成绩录入</title>
    <!-- Custom Theme files -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


</head>
<body>
<form action="/insert" method="post">
    项目:<input type="text" name="sportname"/><br/><br/>

    姓名:<input type="text" name="studentname1"/><br/>
    成绩:<input type="text" name="studentgrade1"/><br/>
    姓名:<input type="text" name="studentname2"/><br/>
    成绩:<input type="text" name="studentgrade2"/><br/>
    姓名:<input type="text" name="studentname3"/><br/>
    成绩:<input type="text" name="studentgrade3"/><br/>
    姓名:<input type="text" name="studentname4"/><br/>
    成绩:<input type="text" name="studentgrade4"/><br/>
    姓名:<input type="text" name="studentname5"/><br/>
    成绩:<input type="text" name="studentgrade5"/><br/>
    姓名:<input type="text" name="studentname6"/><br/>
    成绩:<input type="text" name="studentgrade6"/><br/>
    姓名:<input type="text" name="studentname7"/><br/>
    成绩:<input type="text" name="studentgrade7"/><br/>
    姓名:<input type="text" name="studentname8"/><br/>
    成绩:<input type="text" name="studentgrade8"/><br/>
    <button>插入</button>
</form>
    <table>
        <thead>
            <th>id</th>
            <th>项目</th>
            <th>删除</th>
        </thead>
        <tbody>
            <tr th:each="list:${lists}">
                <td th:text="${list.id}">01</td>
                <td th:text="${list.sportname}">800米</td>
                <td><a href="#" th:href="@{/delet(id=${list.id})}">删除</a></td>
            </tr>
        </tbody>
    </table>
<footer class="copyright">
    <p> Powered By<a href="http://yb.upc.edu.cn">易班发展中心 </a></p>
</footer>
</body>
</html>