<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/insert" method="post">
    项目:<input type="text" name="sportname"/><br/>
    姓名:<input type="text" name="studentname1"/><br/>
    成绩:<input type="text" name="studentgrate1"/><br/>




     String studentname2, String studentgrate2, String studentname3, String studentgrate3, String studentname4, String studentgrate4, String studentname5, String studentgrate5, String studentname6, String studentgrate6, String
    studentname7, String studentgrate7, String studentname8, String studentgrate8
</form>
</body>
</html>