<!DOCTYPE html>
<html class="no-js" lang="zh" xmlns="http://www.w3.org/1/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>sport</title>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/styles/vendor.css"/>

    <link rel="stylesheet" href="/styles/main.css"/>

    <script src="/scripts/vendor/modernizr.js"></script>
    <script>
        function set() {
            setTimeout(set(), 300000);
        }
    </script>
</head>
<body onload="set()">
<!--[if lt IE 10]>
<![endif]-->

<div class="container">
    <div class="jumbotron">
        <h1>石油大学运动会</h1>
        <p class="lead">2016.05</p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-striped">
            <tr>
                <td class="lead"><p class="text-center">项目名称</p></td>
            </tr>
            </thead>
            <tbody class="table-striped">
            <tr th:each="list:${lists}">
                <td><p class="text-center lead"><a href="#"
                                                                               th:href="@{/showlist(id=${list.id})}" th:text="${list.sportname}">项目一</a>
                </p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="footer container">
    <p class="text-center">易班技术部</p>
</div>

<!-- Baidu Analytics -->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?dcee5a8ae712222e23ba82eaad3f35c9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


<script src="/scripts/vendor.js"></script>

<script src="/scripts/plugins.js"></script>

<script src="/scripts/main.js"></script>
</body>
</html>
